<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">
    <title>Social Network</title>
    <script src="/script.js"></script>
</head>
<body>
    <div class="form">
        <form method="post" action="/login"  class="sub-form" th:object="${authorization}">
            <div>
                <h2>Login Form</h2>
                <div class="error" th:if="${#fields.hasErrors('username')}">
                    <p  th:errors="*{username}"></p>
                </div>
                <div class="error" th:if="${#fields.hasErrors('password')}">
                    <p  th:errors="*{password}"></p>
                </div>
                <label>Username</label>
                <label>
                    <input th:field="${authorization.username}" type="text" name="username" id="username">
                </label><br>
                <label>Password</label>
                <label>
                    <input th:field="${authorization.password}" type="password" name="password" id="password">

                </label>
                <label class="password-visibility">
                    <input type="checkbox" id="showPassword" onclick="togglePasswordVisibility()"> Show Password
                </label>
                <div class="btn">
                     <button type="submit">Login</button>
                </div>
            </div>
            <div class="bottom-form">
                <div class="no-account">Don`t have an account?</div>
                <a href="/create-user" class="singup">Sing up</a>
            </div>
        </form>
    </div>
</body>
</html>