<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">
    <title>Social Network</title>
</head>
<body>
    <div class="form">
        <form action="#" class="sub-form">
            <div>
                <h2>Login Form</h2>
                <label>Username</label>
                <input type="text" name="username"><br>
                <label>Password</label>
                <input type="password" name="password"><br>
                <div class="btn">
                     <button type="submit">Login</button>
                </div>
            </div>
            <div class="bottom-form">
                <div class="no-account">Don`t have an account?</div>
                <a href="#" class="singup">Sing up</a>
            </div>
        </form>
    </div>
</body>
</html>