<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    <link rel="stylesheet" href="/style.css">
    <title>Social Network</title>
</head>
<header>
    <nav class="container">
        <div class="parent-link">
            <a href="/all-users" class="upper-text"> Find new friends</a>
            <a href="/" class="upper-text"> Home</a>
            <a href="/create-post" class="upper-text"> Create post</a>
            <a th:href="'/'+ ${current} + '/'" class="upper-text"> Profil</a>
        </div>
    </nav>
</header>
<body>
    <div class="form">
        <div class="user-form">
            <div class="user-info">
                <label> username:</label>
                <label class="user-text" th:text=" ${user.username}"> USERNAME:</label>
                <label> real name:</label>
                <label class="user-text" th:text=" ${user.realName}"> REAL NAME:</label>
                <label> info:</label>
                <label class="user-text" th:text=" ${user.info}"> INFO:</label>
                <form class="btn"  th:action="${isFollowed} ? '/' + ${user.username} + '/unfollow' : '/' +  ${user.username} + '/follow'" method="post">
                    <button id="followButton" th:class="${isFollowed} ? 'followed' : 'unfollowed'" th:text="${isFollowed} ? 'Unfollow' : 'Follow'"></button>
                </form>
            </div>
            <div>
                <p class="user-stats-form">Stats:<p>
                <div class="stats-div">
                    <div class="stats-form">
                        <a th:text="${alllikes}" class="stats-number">20</a>
                        <p class="stats-text">All likes:</p>
                    </div>
                    <div class="stats-form">
                        <a th:text="${postlikes}" class="stats-number">5</a>
                        <p class="stats-text">Post likes:</p>
                    </div>
                    <div class="stats-form">
                        <a th:text="${colikes}" class="stats-number">1500</a>
                        <p class="stats-text">Co-Creator likes:</p>
                    </div>
                </div>
                <div class="stats-div">
                    <div class="stats-form">
                        <a th:text="${user.getFollowers().size()}" class="stats-number">20</a>
                        <a th:href="@{/{username}/followers(username=${user.username})}" class="stats-text">Followers</a>
                    </div>
                    <div class="stats-form">
                        <a th:text="${user.getFollowed().size()}" class="stats-number">20</a>
                        <a th:href="@{/{username}/followed(username=${user.username})}" class="stats-text">Followed</a>
                    </div>
                    <div class="stats-form">
                        <a th:text="${friends.size()}"  class="stats-number">1500</a>
                        <a th:href="@{/{username}/friends(username=${user.username})}"class="stats-text">Friends</a>
                    </div>
                </div>
                <div class="edit">
                    <div class="user-posts">
                        <a class="user-posts" th:href="@{/{username}/p(username=${user.username})}">POSTS</a>
                    </div>
                    <div class="user-edit">
                        <a  class="user-edit" th:href="@{/{username}/edit(username=${user.username})}">EDIT</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
